<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /task_portal/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /task_portal/index.html [L]
</IfModule>
